<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new students</title>
    <style>
        .p{
            display: block;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<center><h1>Add new student</h1></center>
<form action="http://localhost:8080/students/add" method="POST">
    {% csrf_token %}
    <label class="p">
        Name: <input name="name" required>
    </label>
    <label class="p">
        Surname: <input name="surname" required>
    </label>
    <label class="p">
    Group: <select name ="group">
        {% for group in gr %}
    <option value='{{ group.id }}'>{{ group.name }}</option>
        {% endfor %}
            </select>
    </label>
    <label class="p">
    Univ: <select name ="univ">
        {% for univ in un %}
    <option value='{{ univ.id }}'>{{ univ.name }}</option>
        {% endfor %}
            </select>
    </label>

    <label class="p"><input type="submit" value="OK"></label>
    <label class="p"><input type="reset" value="RESET"></label>

</form>

</body>
</html>